<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.dc.editor.lang.ui.editors.LanguageEditor"
            contributorClass="de.dc.editor.lang.ui.editors.ModelActionBarContributor"
            extensions="lang"
            icon="icons/sample.gif"
            id="de.dc.editor.lang.ui.editors.LangEditor"
            name="Language Editor">
      </editor>
      <editor
            class="de.dc.editor.lang.ui.editors.generic.gfEditor"
            contributorClass="de.dc.editor.lang.ui.editors.generic.gfEditorContributor"
            extensions="lang"
            icon="icons/sample.gif"
            id="de.dc.editor.lang.ui.editors.GenericEditor"
            name="Generic Editor">
      </editor>
   </extension>
                <extension
                      point="org.eclipse.ui.preferencePages">
                   <page
                         class="de.dc.editor.lang.ui.preference.LanguageDefinitionPage"
                         id="de.dc.editor.lang.ui.LanguageKonfiguration"
                         name="Language Konfiguration">
                   </page>
                </extension>
                <extension
                      point="org.eclipse.ui.views">
                   <view
                         class="de.dc.editor.lang.ui.editors.LanguageView"
                         id="de.dc.editor.lang.ui.LanguageView"
                         name="LanguageView"
                         restorable="true">
                   </view>
                </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.ui.IEditorInput"
            nameFilter="*.*"
            id="de.dc.editor.lang.ui.editors.LangEditor.contribution1">
         <menu
               label="Language Editor"
               path="additions"
               id="de.dc.editor.lang.ui.editors.LangEditor.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Open Language Data Model"
               class="de.dc.editor.lang.ui.editors.action.OpenLanguageDataModelAction"
               menubarPath="de.dc.editor.lang.ui.editors.LangEditor.menu1/group1"
               enablesFor="1"
               id="de.dc.editor.lang.ui.editors.OpenLanguageDataModel">
         </action>
         <action
               class="de.dc.editor.lang.ui.editors.action.SelectionToContentProposalAction"
               enablesFor="1"
               id="de.dc.editor.lang.ui.editors.ExportToContentProposal"
               label="Export to Content Proposal"
               menubarPath="de.dc.editor.lang.ui.editors.LangEditor.menu1/group1">
         </action>
      </objectContribution>
   </extension>
</plugin>
